In [2]:
import pandas as pd

df = pd.read_csv('example-data/CompaniesHouse-BasicCompanyData.csv')

/var/folders/sd/sp16dxps1n9fgg_xypw33pph0000gn/T/ipykernel_26644/104264868.py:3: DtypeWarning: Columns (41,42,43,44,45,46,47,48,49,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('example-data/CompaniesHouse-BasicCompanyData.csv')

In [3]:
df.shape

(5562234, 55)

In [4]:
df

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,! LTD,08209948,NaN,NaN,9 PRINCES SQUARE,NaN,HARROGATE,NaN,ENGLAND,HG1 1ND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/09/2024,11/09/2023
1,!? LTD,11399177,NaN,NaN,THE STUDIO HATHERLOW HOUSE,HATHERLOW,ROMILEY,NaN,UNITED KINGDOM,SK6 3DY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/06/2024,05/06/2023
2,!BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29/12/2024,15/12/2023
3,!GOBERUB LTD,13404790,NaN,NaN,13 SOUTHMILL ROAD,NaN,BISHOP'S STORTFORD,HERTFORDSHIRE,ENGLAND,CM23 3FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29/05/2024,15/05/2023
4,!NFLECTION ADVISORY LIMITED,15073164,NaN,NaN,52 MEADWAY,NaN,BARNET,NaN,UNITED KINGDOM,EN5 5LB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/08/2024,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5562229,“SAIL IN GREECE ADVENTURES” LTD,09511422,NaN,NaN,INTERNATIONAL HOUSE,36-38 CORNHILL,LONDON,LONDON,ENGLAND,EC3V 3NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/04/2024,26/03/2023
5562230,“THE GREENHOUSE” COMPANY LTD,11457383,NaN,NaN,IRONMASTER HOUSE,WYLE COP,SHREWSBURY,SHROPSHIRE,ENGLAND,SY1 1XF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/07/2024,22/06/2023
5562231,“UGUR-97” FIRMASI LTD,13707057,NaN,NaN,60 BROMPTON ROAD,NaN,LONDON,NaN,UNITED KINGDOM,SW3 1BW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/11/2024,26/10/2023
5562232,€ RECYCLING LIMITED,04528854,NaN,NaN,CARDINGTON POINT,TELFORD WAY,BEDFORD,NaN,ENGLAND,MK42 0PQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/06/2024,04/06/2023
5562233,€URO IMPORTS LIMITED,08182582,NaN,NaN,414-416 BLACKPOOL ROAD,ASHTON-ON-RIBBLE,PRESTON,NaN,NaN,PR2 2DX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/08/2024,14/08/2023

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5562234 entries, 0 to 5562233
Data columns (total 55 columns):
 #   Column                              Dtype
---  ------                              -----
 0   CompanyName                         object
 1    CompanyNumber                      object
 2   RegAddress.CareOf                   object
 3   RegAddress.POBox                    object
 4   RegAddress.AddressLine1             object
 5    RegAddress.AddressLine2            object
 6   RegAddress.PostTown                 object
 7   RegAddress.County                   object
 8   RegAddress.Country                  object
 9   RegAddress.PostCode                 object
 10  CompanyCategory                     object
 11  CompanyStatus                       object
 12  CountryOfOrigin                     object
 13  DissolutionDate                     float64
 14  IncorporationDate                   object
 15  Accounts.AccountRefDay              float64
 16  Accounts.AccountRefMonth            float64
 17  Accounts.NextDueDate                object
 18  Accounts.LastMadeUpDate             object
 19  Accounts.AccountCategory            object
 20  Returns.NextDueDate                 object
 21  Returns.LastMadeUpDate              object
 22  Mortgages.NumMortCharges            int64
 23  Mortgages.NumMortOutstanding        int64
 24  Mortgages.NumMortPartSatisfied      int64
 25  Mortgages.NumMortSatisfied          int64
 26  SICCode.SicText_1                   object
 27  SICCode.SicText_2                   object
 28  SICCode.SicText_3                   object
 29  SICCode.SicText_4                   object
 30  LimitedPartnerships.NumGenPartners  int64
 31  LimitedPartnerships.NumLimPartners  int64
 32  URI                                 object
 33  PreviousName_1.CONDATE              object
 34   PreviousName_1.CompanyName         object
 35   PreviousName_2.CONDATE             object
 36   PreviousName_2.CompanyName         object
 37  PreviousName_3.CONDATE              object
 38   PreviousName_3.CompanyName         object
 39  PreviousName_4.CONDATE              object
 40   PreviousName_4.CompanyName         object
 41  PreviousName_5.CONDATE              object
 42   PreviousName_5.CompanyName         object
 43  PreviousName_6.CONDATE              object
 44   PreviousName_6.CompanyName         object
 45  PreviousName_7.CONDATE              object
 46   PreviousName_7.CompanyName         object
 47  PreviousName_8.CONDATE              object
 48   PreviousName_8.CompanyName         object
 49  PreviousName_9.CONDATE              object
 50   PreviousName_9.CompanyName         object
 51  PreviousName_10.CONDATE             object
 52   PreviousName_10.CompanyName        object
 53  ConfStmtNextDueDate                 object
 54   ConfStmtLastMadeUpDate             object
dtypes: float64(3), int64(6), object(46)
memory usage: 2.3+ GB

In [6]:
df["CompanyStatus"].describe()

count     5562234
unique         14
top        Active
freq      5118622
Name: CompanyStatus, dtype: object

In [7]:
df["CompanyStatus"].value_counts()

CompanyStatus
Active                                              5118622
Active - Proposal to Strike off                      328172
Liquidation                                          109218
In Administration                                      3300
Live but Receiver Manager on at least one charge       1654
Voluntary Arrangement                                   531
In Administration/Administrative Receiver               270
RECEIVERSHIP                                            188
ADMINISTRATION ORDER                                    124
ADMINISTRATIVE RECEIVER                                 106
In Administration/Receiver Manager                       36
RECEIVER MANAGER / ADMINISTRATIVE RECEIVER               10
VOLUNTARY ARRANGEMENT / RECEIVER MANAGER                  2
VOLUNTARY ARRANGEMENT / ADMINISTRATIVE RECEIVER           1
Name: count, dtype: int64

In [8]:
filt = (df["CompanyStatus"] == "Active")
df_active = df[filt]

In [9]:
df_active

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,! LTD,08209948,NaN,NaN,9 PRINCES SQUARE,NaN,HARROGATE,NaN,ENGLAND,HG1 1ND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/09/2024,11/09/2023
1,!? LTD,11399177,NaN,NaN,THE STUDIO HATHERLOW HOUSE,HATHERLOW,ROMILEY,NaN,UNITED KINGDOM,SK6 3DY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/06/2024,05/06/2023
2,!BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29/12/2024,15/12/2023
3,!GOBERUB LTD,13404790,NaN,NaN,13 SOUTHMILL ROAD,NaN,BISHOP'S STORTFORD,HERTFORDSHIRE,ENGLAND,CM23 3FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29/05/2024,15/05/2023
4,!NFLECTION ADVISORY LIMITED,15073164,NaN,NaN,52 MEADWAY,NaN,BARNET,NaN,UNITED KINGDOM,EN5 5LB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/08/2024,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5562229,“SAIL IN GREECE ADVENTURES” LTD,09511422,NaN,NaN,INTERNATIONAL HOUSE,36-38 CORNHILL,LONDON,LONDON,ENGLAND,EC3V 3NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/04/2024,26/03/2023
5562230,“THE GREENHOUSE” COMPANY LTD,11457383,NaN,NaN,IRONMASTER HOUSE,WYLE COP,SHREWSBURY,SHROPSHIRE,ENGLAND,SY1 1XF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/07/2024,22/06/2023
5562231,“UGUR-97” FIRMASI LTD,13707057,NaN,NaN,60 BROMPTON ROAD,NaN,LONDON,NaN,UNITED KINGDOM,SW3 1BW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/11/2024,26/10/2023
5562232,€ RECYCLING LIMITED,04528854,NaN,NaN,CARDINGTON POINT,TELFORD WAY,BEDFORD,NaN,ENGLAND,MK42 0PQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/06/2024,04/06/2023
5562233,€URO IMPORTS LIMITED,08182582,NaN,NaN,414-416 BLACKPOOL ROAD,ASHTON-ON-RIBBLE,PRESTON,NaN,NaN,PR2 2DX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/08/2024,14/08/2023

In [10]:
df_active.describe()

,DissolutionDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners
count,0.0,4.971601e+06,4.971601e+06,5.118622e+06,5.118622e+06,5.118622e+06,5.118622e+06,5.118622e+06,5.118622e+06
mean,NaN,3.014523e+01,6.330355e+00,5.980731e-01,3.346217e-01,3.481406e-04,2.627637e-01,1.227362e-02,4.374302e-02
std,NaN,2.994748e+00,3.600289e+00,8.907028e+00,7.185461e+00,3.075446e-02,4.565136e+00,1.447424e-01,1.672302e+00
min,NaN,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.000000e+00
25%,NaN,3.000000e+01,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,NaN,3.100000e+01,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,NaN,3.100000e+01,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,NaN,3.100000e+01,1.200000e+01,6.121000e+03,6.121000e+03,3.700000e+01,5.720000e+03,1.100000e+02,1.269000e+03

In [11]:
df_active["Accounts.AccountCategory"].value_counts()

Accounts.AccountCategory
MICRO ENTITY                   1541772
NO ACCOUNTS FILED              1423465
TOTAL EXEMPTION FULL           1187450
DORMANT                         605655
UNAUDITED ABRIDGED              155619
FULL                             86048
SMALL                            65906
GROUP                            25047
AUDIT EXEMPTION SUBSIDIARY       22378
TOTAL EXEMPTION SMALL             1598
AUDITED ABRIDGED                  1491
ACCOUNTS TYPE NOT AVAILABLE       1256
MEDIUM                             583
FILING EXEMPTION SUBSIDIARY        327
PARTIAL EXEMPTION                   23
INITIAL                              4
Name: count, dtype: int64

In [12]:
# There's guidance on what these account types mean here: https://www.gov.uk/annual-accounts/microentities-small-and-dormant-companies

# In summary, Dormant means not actively trading
# Micro = Turnover is less than £632k
# Small or 'Total exemption full' = Turnover is less than £10M
# Full = Turnover > £10M

# Let's look at the % of companies fall into which category
category_counts = df_active['Accounts.AccountCategory'].value_counts()
total_companies = category_counts.sum()
category_percentages = (category_counts / total_companies) * 100
print(category_percentages)

Accounts.AccountCategory
MICRO ENTITY                   30.120841
NO ACCOUNTS FILED              27.809535
TOTAL EXEMPTION FULL           23.198627
DORMANT                        11.832384
UNAUDITED ABRIDGED              3.040252
FULL                            1.681077
SMALL                           1.287573
GROUP                           0.489331
AUDIT EXEMPTION SUBSIDIARY      0.437188
TOTAL EXEMPTION SMALL           0.031219
AUDITED ABRIDGED                0.029129
ACCOUNTS TYPE NOT AVAILABLE     0.024538
MEDIUM                          0.011390
FILING EXEMPTION SUBSIDIARY     0.006388
PARTIAL EXEMPTION               0.000449
INITIAL                         0.000078
Name: count, dtype: float64

In [13]:
# Huh. There are a lot of active companies with no accounts filed. Why? Let's have a look at when they were incorporated - are they all just very new companies?

df_active["Accounts.NextDueDate"].value_counts()

Accounts.NextDueDate
31/12/2024    748431
30/09/2024    457263
31/03/2025    232221
31/01/2025    227185
28/02/2025    218788
               ...
15/04/2016         1
08/03/2020         1
10/05/2023         1
17/03/2017         1
26/08/2015         1
Name: count, Length: 2626, dtype: int64

In [14]:
# Let's convert the dates into datetimes so we can filter them - using the original dataframe
df["Accounts.NextDueDate"] = pd.to_datetime(df["Accounts.NextDueDate"], dayfirst=True)

# Then create a new column to show how many months until the accounts are due (or negative values for overdue)
df['AccountsDueNumMonthsTime'] = (df['Accounts.NextDueDate'] - pd.Timestamp.now()).dt.days // 30

# Let's check that that has worked:
df['AccountsDueNumMonthsTime'].value_counts()

AccountsDueNumMonthsTime
 8.0       905032
 5.0       523431
 11.0      306759
 9.0       303494
 10.0      285215
            ...
-956.0          1
-551.0          1
-480.0          1
-1343.0         1
-535.0          1
Name: count, Length: 646, dtype: int64

In [15]:
months_ago_counts = df.groupby('AccountsDueNumMonthsTime').size()

print("\nCounts by number of months ago:")
print(months_ago_counts)

Counts by number of months ago:
AccountsDueNumMonthsTime
-1796.0        1
-1619.0        1
-1540.0        1
-1504.0        1
-1491.0        7
           ...
 19.0      91052
 20.0      67310
 21.0          9
 23.0          2
 24.0          1
Length: 646, dtype: int64

In [16]:
# So what percentage of 'companies that are active but have never filed accounts' are overdue, vs are new companies where filing date is in the future?

df_active_no_accounts = df[(df["CompanyStatus"] == "Active") & (df["Accounts.AccountCategory"] == "NO ACCOUNTS FILED")]

overdue_count = (df_active_no_accounts['AccountsDueNumMonthsTime'] < 0).sum()
future_count = (df_active_no_accounts['AccountsDueNumMonthsTime'] >= 0).sum()

# Display the results
print("Number of overdue accounts:", overdue_count)
print("Number of accounts due in the future:", future_count)

Number of overdue accounts: 30572
Number of accounts due in the future: 1238469

In [17]:
total_count = len(df_active_no_accounts)
print(total_count)

1423465

In [21]:
overdue_percent = (overdue_count / total_count) * 100
future_percent = (future_count / total_count) * 100

print("% of overdue accounts:", overdue_percent)
print("% of accounts due in the future:", future_percent)

% of overdue accounts: 2.1477170144682165
% of accounts due in the future: 87.00382517308118

In [24]:
# Ok, why the 10%+ difference?

NaN_check = pd.isna(df_active_no_accounts['AccountsDueNumMonthsTime'])
NaN_values = df_active_no_accounts['AccountsDueNumMonthsTime'][NaN_check]

print(NaN_values)

19        NaN
31        NaN
34        NaN
35        NaN
39        NaN
           ..
5562173   NaN
5562174   NaN
5562175   NaN
5562186   NaN
5562207   NaN
Name: AccountsDueNumMonthsTime, Length: 154424, dtype: float64

In [29]:
# Ok, looks like the difference is caused by NaN values

NaN_percent = (NaN_check.sum() / total_count) * 100

print("% of NaN values:", NaN_percent)

% of NaN values: 10.848457812450604

In [32]:
# Let's make a slice that covers:

# Company Category as 'CompanyCategory':
# - Private Limited Company

# Company status as 'CompanyStatus':
# - Active

# Incorporation Date as 'IncorporationDate':
# - After 2010

# Next Accounts due date as 'Accounts.NextDueDate:
# - 4-6 monmths away

# Account types as 'Accounts.AccountCategory':
# - SMALL, 'TOTAL EXEMPTION FULL',  'TOTAL EXEMPTION SMALL' = Turnover is greater than £632k and less than £10M
# - FULL = Turnover > £10M

# Number of mortgage charges as 'Mortgages.NumMortCharges':
# - 1+

# Target SIC codes as 'SICCode.SicText_1':
# - 620** (SaaS)
# - 58290 (SaaS)
# - 70**** (consultancy)

In [44]:
# Let's convert the dates into datetimes so we can filter them
# Note, we're passing in errors='coerce' into the datetime function so invalid dates are converted to 'NaT' i.e. Not A Time values. This will allow the error to be caught, but allow us to proceed.
df["IncorporationDate"] = pd.to_datetime(df["IncorporationDate"], dayfirst=True, errors='coerce')

df["IncorporationDate"].value_counts()

target_df = df[
    (df['CompanyCategory'] == 'Private Limited Company') & 
    (df['CompanyStatus'] == 'Active') & 
    (df['IncorporationDate'].dt.year > 2010) & 
    ((df['Accounts.NextDueDate'] - pd.Timestamp.now()).dt.days // 30 >= 4) & 
    ((df['Accounts.NextDueDate'] - pd.Timestamp.now()).dt.days // 30 <= 6) &
    (df['Accounts.AccountCategory'].isin(['SMALL', 'TOTAL EXEMPTION FULL', 'TOTAL EXEMPTION SMALL', 'FULL'])) & 
    (df['Mortgages.NumMortCharges'] >= 1) & 
    (
        df['SICCode.SicText_1'].str.startswith('620') | 
        (df['SICCode.SicText_1'] == '58290') | 
        df['SICCode.SicText_1'].str.startswith('70')
    )
]

print(len(target_df))

2494

In [48]:
pd.set_option('display.max_columns', 56)
target_df.head(15)

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,DissolutionDate,IncorporationDate,Accounts.AccountRefDay,Accounts.AccountRefMonth,Accounts.NextDueDate,Accounts.LastMadeUpDate,Accounts.AccountCategory,Returns.NextDueDate,Returns.LastMadeUpDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,PreviousName_1.CONDATE,PreviousName_1.CompanyName,PreviousName_2.CONDATE,PreviousName_2.CompanyName,PreviousName_3.CONDATE,PreviousName_3.CompanyName,PreviousName_4.CONDATE,PreviousName_4.CompanyName,PreviousName_5.CONDATE,PreviousName_5.CompanyName,PreviousName_6.CONDATE,PreviousName_6.CompanyName,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate,AccountsDueNumMonthsTime
12,!OBAC UK LIMITED,07687209,NaN,NaN,UNIT 9 BERRY COURT FARM BRAMLEY ROAD,LITTLE LONDON,TADLEY,HAMPSHIRE,NaN,RG26 5AT,Private Limited Company,Active,United Kingdom,NaN,2011-06-29,29.0,12.0,2024-09-29,31/12/2022,TOTAL EXEMPTION FULL,27/07/2017,29/06/2016,1,0,0,1,70229 - Management consultancy activities othe...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/07687209,15/07/2011,!OBAC FITTINGS LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/07/2024,29/06/2023,5.0
7219,10BIT FX LIMITED,09727850,NaN,NaN,86-90 PAUL STREET,NaN,LONDON,NaN,ENGLAND,EC2A 4NE,Private Limited Company,Active,United Kingdom,NaN,2015-08-11,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,08/09/2016,NaN,1,1,0,0,62012 - Business and domestic software develop...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09727850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/08/2024,10/08/2023,5.0
8306,110 LONGFELLOW LTD,09693210,NaN,NaN,C/O BUSINESS WASTE ARTEMIS HOUSE,EBORACUM WAY,YORK,NaN,ENGLAND,YO31 7RE,Private Limited Company,Active,United Kingdom,NaN,2015-07-20,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,17/08/2016,NaN,4,4,0,0,70229 - Management consultancy activities othe...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09693210,21/11/2016,LILI WASTE LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/06/2024,10/06/2023,5.0
12919,1331 INC LTD,07556926,NaN,NaN,TOWNGATE HOUSE,2-8 PARKSTONE ROAD,POOLE,DORSET,NaN,BH15 2PW,Private Limited Company,Active,United Kingdom,NaN,2011-03-09,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,06/04/2017,09/03/2016,4,4,0,0,70100 - Activities of head offices,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/07556926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23/03/2024,09/03/2023,5.0
21022,1934 LTD,10449111,NaN,NaN,1934 THE YARD,EXPLORATION DRIVE,LEICESTER,NaN,UNITED KINGDOM,LE4 5JD,Private Limited Company,Active,United Kingdom,NaN,2016-10-27,31.0,12.0,2024-09-30,31/12/2022,SMALL,24/11/2017,NaN,1,1,0,0,62012 - Business and domestic software develop...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10449111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09/11/2024,26/10/2023,5.0
22031,1INSURER LIMITED,09481775,NaN,NaN,"BEMBRIDGE HOUSE, 1300 PARKWAY","SOLENT BUSINESS PARK, WHITELEY",FAREHAM,HAMPSHIRE,ENGLAND,PO15 7AE,Private Limited Company,Active,United Kingdom,NaN,2015-03-10,31.0,12.0,2024-09-30,31/12/2022,FULL,07/04/2017,10/03/2016,3,0,0,3,62012 - Business and domestic software develop...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09481775,15/01/2016,INNOVATION GROUP SOFTWARE (UK) LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/10/2024,30/09/2023,5.0
24523,1TAP APP LIMITED,10000547,NaN,NaN,UNIT 1.2 TECHSPACE SHOREDITCH,25 LUKE STREET,LONDON,NaN,UNITED KINGDOM,EC2A 4DS,Private Limited Company,Active,United Kingdom,NaN,2016-02-11,31.0,12.0,2024-09-30,31/12/2022,SMALL,11/03/2017,NaN,5,5,0,0,62012 - Business and domestic software develop...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/10000547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/06/2024,18/05/2023,5.0
27792,20I LIMITED,09775671,NaN,NaN,HAWTHORN HOUSE SOUTHWELL ROAD WEST,RAINWORTH,MANSFIELD,NaN,ENGLAND,NG21 0HJ,Private Limited Company,Active,United Kingdom,NaN,2015-09-14,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,12/10/2016,NaN,1,1,0,0,62090 - Other information technology service a...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09775671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27/09/2024,13/09/2023,5.0
30240,22CANS LTD,07955622,NaN,NaN,1B HUXLEY ROAD,SURREY RESEARCH PARK,GUILDFORD,SURREY,ENGLAND,GU2 7RE,Private Limited Company,Active,United Kingdom,NaN,2012-02-20,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,20/03/2017,20/02/2016,1,1,0,0,62011 - Ready-made interactive leisure and ent...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/07955622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/03/2025,20/02/2024,5.0
30315,23 (UK) LIMITED,09321980,NaN,NaN,KENSINGTON HOUSE,3 KENSINGTON,BISHOP AUCKLAND,CO DURHAM,NaN,DL14 6HX,Private Limited Company,Active,United Kingdom,NaN,2014-11-21,30.0,11.0,2024-08-31,30/11/2022,TOTAL EXEMPTION FULL,19/12/2016,21/11/2015,2,2,0,0,70229 - Management consultancy activities othe...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09321980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28/11/2024,14/11/2023,4.0
30479,23 DEGREES RENEWABLES LTD,SC391996,NaN,NaN,C/O OEG OFFSHORE UK LIMITED,MIDMILL BUSINESS PARK,KINTORE,ABERDEENSHIRE,UNITED KINGDOM,AB51 0QG,Private Limited Company,Active,United Kingdom,NaN,2011-01-21,31.0,12.0,2024-09-30,31/12/2022,SMALL,18/02/2017,21/01/2016,2,1,0,1,70229 - Management consultancy activities othe...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/SC391996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/02/2025,21/01/2024,5.0
32766,247 COMMERCE LIMITED,07775662,NaN,NaN,"UNIT 1, LINCOLN HOUSE",GREAT WEST ROAD,BRENTFORD,NaN,ENGLAND,TW8 0GE,Private Limited Company,Active,United Kingdom,NaN,2011-09-15,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,13/10/2016,15/09/2015,3,1,0,2,62020 - Information technology consultancy act...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/07775662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29/09/2024,15/09/2023,5.0
37414,2C SERVICES LIMITED,09329960,NaN,NaN,29 COURTENAY ROAD,KEYNSHAM,BRISTOL,NaN,ENGLAND,BS31 1JU,Private Limited Company,Active,United Kingdom,NaN,2014-11-27,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,25/12/2016,27/11/2015,2,1,0,1,62020 - Information technology consultancy act...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/09329960,11/12/2015,YELYAB 13 LIMITED,24/04/2015,THE HOMEBUILDING CENTRE (EOT) LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/07/2024,12/07/2023,5.0
44417,345 TECHNOLOGY LIMITED,12182889,NaN,NaN,8 SPUR ROAD,COSHAM,PORTSMOUTH,NaN,ENGLAND,PO6 3EB,Private Limited Company,Active,United Kingdom,NaN,2019-09-02,31.0,12.0,2024-09-30,31/12/2022,TOTAL EXEMPTION FULL,30/09/2020,NaN,1,1,0,0,62020 - Information technology consultancy act...,NaN,NaN,NaN,0,0,http://business.data.gov.uk/id/company/12182889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/09/2024,01/09/2023,5.0
46397,360INSIGHTS (EUROPE) LTD.,08665019,NaN,NaN,HAMILTON PRATT 3A TOURNAMENT COURT,TOURNAMENT FIELDS,WARWICK,NaN,ENGLAND,CV34 6LG,Private Limited Company,Active,United Kingdom,NaN,2013-08-27,31.0,12.0,2024-09-30,31/12/2022,FULL,24/09/2016,27/08/2015,1,1,0,0,62090 - Other information technology service a...,82990 - Other business support service activit...,NaN,NaN,0,0,http://business.data.gov.uk/id/company/08665019,10/02/2021,360INCENTIVES.COM UK LIMITED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/02/2025,04/02/2024,5.0

In [49]:
target_df.to_csv('example-data/CompaniesHouses-target-companies.csv')

In [52]:
percent_exported = round(len(target_df) / len(df) * 100, 2)
print(f"Percent exported: {percent_exported}%")

Percent exported: 0.04%